.card-container{
    display: inline-flex;
    margin-left: 15px;
}
.each-card{
    margin-bottom: 25px;
}
.plus-icon{
    padding-right: 5px;
}
.plus-icon{
    background-color: #ff0044;
}
.icon{
    background-color: #ff0044;
}
p.instructor{
    margin-bottom: 10px;
    color: gray;
    font-family: 'Baloo Tamma 2', cursive;
}
